<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425124565931-vg0tjb76o2ahkdrrrn4c4b2srad6irrb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425124565931-vg0tjb76o2ahkdrrrn4c4b2srad6irrb</string>
	<key>API_KEY</key>
	<string>AIzaSyAaQSfLMYwPf8QQP3Wh2k94xsh_Ls_Mmwc</string>
	<key>GCM_SENDER_ID</key>
	<string>425124565931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spaghetticodeinc.negotiationTracker</string>
	<key>PROJECT_ID</key>
	<string>negotiationapp-1701d</string>
	<key>STORAGE_BUCKET</key>
	<string>negotiationapp-1701d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425124565931:ios:a950a95373c37d7daff8ee</string>
</dict>
</plist>